#body {
    margin: 1em;
}

#commit-nav {
    padding-bottom: 4px;
    border-bottom: solid 1px #ccc;
    font-style: italic;
}

/* /commit page */
.commit-message {
    font-family: monospace;
}
div.commit-message {
    background-color: #ddd;
    padding: 5px;
}
.commit-info dt {
    font-weight: bold;
}
.commit-info dd {
    font-family: monospace;
}

.filename {
  font-family: monospace;
}
.action-list {
  font-size: smaller;
}

.path {
    border-bottom: solid 1px #ddd;
    padding: 3px 0;
    font-weight: bold;
}

/* /heads */
.heads .head {
    font-weight: bold;
}
.heads .current {
    text-decoration: underline;
}
