<div class='path'>
 <a href="[% c.uri_for_action("/commit/tree", [Repository.name, head.sha1]) %]">[% Repository.name %]</a>
 [% FOREACH part IN filename.split('/') %]
  [% path = loop.first ? part : path _ '/' _ part %]
  / <a href="[% c.uri_for_action(loop.last ? '/commit/blob' : '/commit/tree', [Repository.name, head.sha1], path.to_path) %]">[% part %]</a>
 [% END %]
</div>
