<h2>[% Repository.description %]</h2>
<table class="summary">
    <tr><th>Owner</th><td>[% Repository.owner %]</td></tr>
    <tr><th>Last change</th><td>[% time_since(Repository.last_change) %]</td></tr>
    <tr><th>Clone url</th><td>[% Repository.url %]</td></tr>
</table>
