<h3 class="header">[% INCLUDE 'nav/path.tt2' %]</h3>

  [% IF object.type == 'commit' %]
   <div class='commit-message'>
    [% short_cmt(head.comment) %]
   </div>
  [% END %]

[% subinclude('/fragment/ref/blob', c.req.captures, c.req.args.to_path) %]


 
