[% PROCESS 'nav/actions.tt2' object = commit %]

<div class='content'>
  <div class='commit-message'>
  [% short_cmt(Commit.comment) | html %]
  </div>

  <div style="padding-bottom: 20px" class='author'>
    <img style="float: left; padding-right: 10px" src="[% uri_for_gravatar(Commit.committer.email, 40) %]">[% Commit.author.name | html %] <br />[% time_since(Commit.authored_time) %]
  </div>


  [% subinclude('/fragment/ref/diff_fancy', c.req.captures c.req.args.to_path) %]
</div>
