
<div class='content'>
  <div class='commit-message'>
  [% short_cmt(Commit.comment) | html %]
  </div>

  <div style="padding-bottom: 20px" class='author'>
    <img style="float: left; padding-right: 10px" src="[% uri_for_gravatar(Commit.committer.email, 40) %]">[% Commit.author.name | html %] <br />[% time_since(Commit.authored_time) %]
  </div>

  [%
    # What I really want is @{ c.req.args }
    subinclude('/fragment/' _ c.action, c.req.captures, c.req.args.0 c.req.args.1)
  %]
</div>
