
<div class='content'>
  <div class='commit-message'>
  [% short_cmt(commit.comment) | html %] ...
  </div>

  [%
    IF path;
      INCLUDE 'nav/path.tt2' filename = path;
    END;

    subinclude('/fragment/ref/tree', c.req.captures, c.req.args.to_path);
  %]
</div>
