[% PROCESS 'nav/actions.tt2' object = commit %]

<div class='content'>
  <div class='commit-message'>
  [% # XXX Wah, stuff like this doesn't work because end() isn't called as we forward to View::SyntaxHighlight
  short_cmt(commit.comment) | html %]
  </div>

  <div class='author'>
    [% commit.author.name | html %] [[% commit.authored_time %]]
  </div>


  [% subinclude('/fragment/commit/diff', c.req.captures) %]
</div>
