[% PROCESS 'nav/actions.tt2' object = commit %]

<div class='content'>
  <div class='commit-message'>
  [% short_cmt(Commit.comment) | html %]
  </div>

  <div class='author'>
    [% Commit.author.name | html %] [[% time_since(Commit.authored_time) %]]
  </div>


  [% subinclude('/fragment/commit/diff_fancy', c.req.captures) %]
</div>
