[% INCLUDE 'nav/actions.tt2' object = commit %]

<div class='content'>
  <div class='commit-message'>
  [% short_cmt(commit.comment) | html %] ...
  </div>

  [%
    IF path;
      INCLUDE 'nav/path.tt2' filename = path;
    END;

    subinclude('/fragment/commit/tree', c.req.captures);
  %]
</div>
