[%- IF is_image -%]
<div class='blob'><img src="[% c.uri_for_action('/ref/raw', c.req.captures, filename) %]" title="[% filename %]"></div>
[%- ELSIF is_binary -%]
<div class='blob'>This is a binary file which won't render natively on the web, but you can get it here all the same: <a href="[% c.uri_for_action('/ref/raw', c.req.captures, filename) %]" title="[% filename %]">[% filename %]</a></div>
[%- ELSE -%]
[%- INCLUDE inc/syntax_highlight_css.tt2 -%]
<pre class='blob'>[% IF mangled; blob; ELSE; blob | html; END; %]</pre>
[%- END -%]
