[%- sha1 = sha1 || HEAD -%]
[%-
    hptr = 0;
    WHILE hptr < sha1.length - 6;
      sha1part = sha1.substr(hptr, 6);
      hptr = hptr + 6;
    END;
-%]

<div class='button sha1_holder[% "_invert" IF loop.count % 2 %]' style="background-color:#[% sha1part %]"></div>
[% IF !hide_sha1_output %]
<div class="sha1_label">[% sha1part %]</div>
[% END %]
