<ul class="pager">
	[% IF log_lines.first.sha1 != Commit.sha1 || (log_lines.size != 25 && page) %]
	<li class="pager_prev"><a href='[% c.uri_with(pg => (page||0) + 1) %]'>Newer commits</a></li>
	[% END %]
	
	[% IF log_lines.first.sha1 != Commit.sha1 && log_lines.size == 25 %]	[% END %]
	
	[% IF log_lines.size == 25 %]
	<li class="pager_next"><a href='[% c.uri_with(pg => (page||0) - 1) %]'>Older commits</a></li>
	[% END %]
</ul>
