<div class='pager'>
 <a href='[% c.uri_for_action('/' _ c.action, [Repository.name]) %]'>HEAD</a> &sect;
 [% IF log_lines.first.sha1 != Commit.sha1 || (log_lines.size != 25 && page) %]
 <a href='[% c.uri_with(pg => (page||0) + 1) %]'>&laquo; newer</a>
 [% END %]
 [% IF log_lines.first.sha1 != Commit.sha1 && log_lines.size == 25%]
 &bull;
 [% END %]
 [% IF log_lines.size == 25 %]
 <a href='[% c.uri_with(pg => (page||0) - 1) %]'>older &raquo;</a>
 [% END %]
</div>
