[%# FIXME - Why are actions here automagically %]
<div class='content'>
  [% INCLUDE '_log_pager.tt2';

  subinclude('/fragment/repository/longlog', c.req.captures);

  INCLUDE '_log_pager.tt2'; %]
</div>
