<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/syntax/' _ language _ '.css') %]"/>
[% FOREACH item IN diff %]
<div class='diff-head'>
 diff --git
 <a href='[% c.uri_for("blob", {h=item.src, f=item.file}) %]'>[% item.a %]</a>
 <a href='[% c.uri_for("blob", {h=item.dst, f=item.file}) %]'>[% item.b %]</a>
</div>
<div class='diff-index'>
 [% item.index %]
</div>
<div class='diff-patch'>
 <pre>[% blobs.${loop.index} %]</pre>
</div>
[% END %]
