<div class='pager'>
 <a href='[% c.uri_for_action('/' _ c.action, [Repository.name, 'HEAD']) %]'>HEAD</a> &sect;
 [% IF log_lines.first.sha1 != commit.sha1 %]
 <a href='[% c.request.uri_with(pg => (page||0) - 1) %]'>&laquo; prev</a>
 [% END %]
 [% IF log_lines.size == 50 %]
 <a href='[% c.request.uri_with(pg => (page||0) + 1) %]'>next &raquo;</a>
 [% END %]
</div>
