<div class='pager'>
 <a href='[% c.uri_for(action, {h=HEAD}) %]'>HEAD</a> &sect;
 [% IF log_lines.first.sha1 != commit.sha1 %]
 <a href='[% c.uri_for(action, {pg=page - 1, h=commit.sha1}) %]'>&laquo; prev</a>
 [% END %]
 [% IF log_lines.size == 50 %]
 <a href='[% c.uri_for(action, {pg=page + 1, h=commit.sha1}) %]'>next &raquo;</a>
 [% END %]
</div>
