[% PROCESS 'nav/actions.tt2' object = head %]

<h2><a href='[% c.uri_for("shortlog") %]'>shortlog</a></h2>
[% INCLUDE '_shortlog.tt2' %]

<h2><a href='[% c.uri_for("heads") %]'>heads</a></h2>
[% INCLUDE '_heads.tt2' %]
