[% INCLUDE 'nav/actions.tt2' object = commit %]

<div class='commit-message'>
[% short_cmt(commit.comment) | html %] ...
</div>

[% IF path -%]
<div>
 <a href='[% c.uri_for("tree", {hb=commit.sha1}) %]'>[% project %]</a>
 [% fullpath = ''-%]
 [% FOREACH part IN path.split('/') -%]
 / <a href='[% c.uri_for("tree", {h=tree.sha1, hb=commit.sha1, f=fullpath _ part}) %]'>[% part %]</a>
 [% fullpath = fullpath _ part _ '/'; %]
 [% END -%]
</div>
[% END -%]

[% INCLUDE '_tree.tt2' %]
