<div id='commit-nav'>
    <a href="/summary?p=[% project %]">summary</a> |
    <a href="/shortlog?p=[% project %];h=[% object.sha1 %]">shortlog</a> |
    <a href="/log?p=[% project %];h=[% object.sha1 %]">log</a> |
    <a href="/commit?p=[% project %];h=[% object.sha1 %]">commit</a> |
    <a href="/commitdiff?p=[% project %];h=[% object.sha1 %]">commitdiff</a> |
    <a href="/tree?p=[% project %];h=[% object.tree_sha1 %];hb=[% object.sha1 %]">tree</a>
</div>
